APP_PORT=3030
APP_NAME=nodejs-backend-notifications
STATUS_APP_PORT=8081
WS_PORT=8080

MONGODB_URL=mongodb://localhost:27017/notifications

RABBITMQ_URL=amqp://payever:payever@localhost:5672
RABBITMQ_MANAGEMENT_URL=http://payever:payever@localhost:15672
RABBITMQ_VHOST=
RABBITMQ_CERTIFICATE_PATH=./rabbitcrypt/private/private.crt

MICRO_URL_FRONTEND_COMMERCEOS=https://commerceos.devpayever.com

JWT_REFRESH_TOKEN_EXPIRES_IN=22896000
JWT_SECRET_TOKEN=secretKey
JWT_EXPIRES_IN=22896000

APM_SERVICE_ENABLE = false
ELASTIC_APM_ACTIVE = false
ELASTIC_APM_SERVER_URL=http://kibana.devpayever.com:8200
ELASTIC_APM_LOG_LEVEL=error
ELASTIC_APM_SERVICE_NAME=notifications-microservice


PACT_ENV=
PACT_BROKER_BASE_URL=https://pact-broker.devpayever.com
PACT_BROKER_USERNAME=
PACT_BROKER_PASSWORD=
PACT_CONSUMER_PORT=9295
PACT_CONSUMER_VERSION=0.0.1
PACT_PROVIDER_PORT=9296


REDIS_URL=redis://localhost:6379
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_RETRY_ATTEMPTS=5
REDIS_RETRY_DELAY=500
REDIS_CONNECT_TIMEOUT=15000
REDIS_CLUSTER_URL=redis://localhost:6379
REDIS_HOST=localhost
REDIS_CLUSTER_HOSTS="localhost"
