PRODUCTION_MODE=false
APP_NAME=nodejs-backend-device-payments
APP_PORT=3000

MONGODB_URL=mongodb://127.0.0.1:27017/device-payments

RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_CERTIFICATE_PATH=./rabbitcrypt/private/private.crt

MICRO_URL_FRONTEND_COMMERCEOS=https://commerceos.devpayever.com
MICRO_URL_THIRD_PARTY=https://third-party.test.devpayever.com
MICRO_URL_MEDIA=https://media.test.devpayever.com
MICRO_URL_FRONTEND_CHECKOUT_WRAPPER=https://checkout-wrapper-frontend.test.devpayever.com
MICRO_URL_TRANSACTIONS=https://transactions-backend.test.devpayever.com


JWT_REFRESH_TOKEN_EXPIRES_IN=2592000
JWT_SECRET_TOKEN=SecretKey
JWT_EXPIRES_IN=3600
USE_OLD_TOKENS=true

APM_SERVICE_ENABLE = false
ELASTIC_APM_ACTIVE = false
ELASTIC_APM_SERVER_URL=http://kibana.devpayever.com:8200
ELASTIC_APM_LOG_LEVEL=error
ELASTIC_APM_SERVICE_NAME=device-payments-microservice

PACT_ENV=test
PACT_BROKER_BASE_URL=https://pact-broker.devpayever.com
PACT_BROKER_USERNAME=
PACT_BROKER_PASSWORD=
PACT_CONSUMER_PORT=9295
PACT_CONSUMER_VERSION=0.0.1
PACT_PROVIDER_PORT=9296
