PRODUCTION_MODE=false
APP_PORT=3000
APP_NAME=nodejs-backend-synchronizer
STATUS_APP_PORT=8081

MONGODB_URL=mongodb://localhost:27017/inventory

RABBITMQ_URL=amqp://payever:payever@localhost:5672
RABBITMQ_CERTIFICATE_PATH=./rabbitcrypt/private/private.crt

REDIS_URL=redis://localhost:6379
REDIS_RETRY_ATTEMPTS=1
REDIS_RETRY_DELAY=100

APM_SERVICE_ENABLE = false
ELASTIC_APM_ACTIVE = false
ELASTIC_APM_SERVER_URL=http://kibana.devpayever.com:8200
ELASTIC_APM_LOG_LEVEL=error
ELASTIC_APM_SERVICE_NAME=synchronizer-microservice

JWT_REFRESH_TOKEN_EXPIRES_IN=2592000
JWT_SECRET_TOKEN=secretKey
JWT_EXPIRES_IN=3600

# commented variables will be created on CI
#PACT_BROKER_BASE_URL=https://pact-broker.devpayever.com
#PACT_BROKER_USERNAME=
#PACT_BROKER_PASSWORD=
PACT_CONSUMER_PORT=9295
#PACT_CONSUMER_VERSION=1
#PACT_ENV=test
PACT_PROVIDER_PORT=9296
