PRODUCTION_MODE=false
APP_CORS=true
APP_PORT=3700
APP_NAME=nodejs-backend-plugins
STATUS_APP_PORT=8081

MONGODB_URL=mongodb://localhost:27017/plugins

RABBITMQ_URL=amqp://payever:payever@localhost:5672
RABBITMQ_MANAGEMENT_URL=http://payever:payever@localhost:15672
RABBITMQ_VHOST=
RABBITMQ_CERTIFICATE_PATH=./rabbitcrypt/private/private.crt

JWT_REFRESH_TOKEN_EXPIRES_IN=2592000
JWT_SECRET_TOKEN=secretKey
JWT_EXPIRES_IN=3600

APM_SERVICE_ENABLE=false
ELASTIC_APM_ACTIVE=false
ELASTIC_APM_SERVER_URL=http://kibana.devpayever.com:8200
ELASTIC_APM_LOG_LEVEL=error
ELASTIC_APM_SERVICE_NAME=plugins-microservice


PACT_ENV=test
PACT_BROKER_BASE_URL=https://pact-broker.devpayever.com
PACT_BROKER_USERNAME=
PACT_BROKER_PASSWORD=
PACT_CONSUMER_PORT=
PACT_CONSUMER_VERSION=0.0.1
PACT_PROVIDER_PORT=

REDIS_URL=redis://localhost:6379
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_RETRY_ATTEMPTS=5
REDIS_RETRY_DELAY=500
REDIS_CONNECT_TIMEOUT=15000
REDIS_CLUSTER_URL=redis://localhost:6379
REDIS_HOST=localhost
REDIS_CLUSTER_HOSTS="localhost"
