{
  "extends": "./node_modules/@pe/dev-kit/.eslintrc.js",
  "ignorePatterns": [
    "node_modules",
    "tests",
    "migrations",
    "dist",
    "fixtures",
    "features",
    "**/*.spec.ts",
    "**/*.d.ts",
    "pact.publish.ts",
    "<tsconfigRootDir>/index.ts"
  ]
}
