# See http://help.github.com/ignore-files/ for more about ignoring files.

# env
.env

# compiled output
/dist
/pacts

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.swo

# IDE - VSCode
.vscode/*

# misc
npm-debug.log

#System Files
.DS_Store
Thumbs.db

# Coverage Reports
.nyc_output

.npmrc

# Artillery tests files
*_tests
*report*.json