PRODUCTION_MODE=false
APP_CORS=true
APP_PORT=3000
APP_NAME=nodejs-backend-checkout-analytics
STATUS_APP_PORT=8081

VOLUME_REPORT_EMAIL_TO=butsch@payever.de
VOLUME_REPORT_EMAIL_CC=rob@getpayever.com

TELEGRAM_AUTH_KEY=
TELEGRAM_MISSING_TRANSACTIONS_CHAT=

MONGODB_URL=mongodb://127.0.0.1:27017/checkout_analytics

RABBITMQ_URL=amqp://payever:payever@localhost:5672
RABBITMQ_CERTIFICATE_PATH=./rabbitcrypt/private/private.crt
RABBITMQ_MANAGEMENT_URL=http://payever:payever@localhost:15672
RABBITMQ_VHOST=

JWT_REFRESH_TOKEN_EXPIRES_IN=2592000
JWT_SECRET_TOKEN=SecretKey
JWT_PARAM_NAME=access_token
JWT_AUTH_SCHEME=bearer
JWT_EXPIRES_IN=3600

APM_SERVICE_ENABLE=false
ELASTIC_APM_ACTIVE=false
ELASTIC_APM_SERVER_URL=http://kibana.devpayever.com:8200
ELASTIC_APM_LOG_LEVEL=error
ELASTIC_APM_SERVICE_NAME=checkout-analytics-microservice

TRUSTED_PROXIES=loopback
USE_OLD_TOKENS=false

REDIS_URL=redis://localhost:6379
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_RETRY_ATTEMPTS=5
REDIS_RETRY_DELAY=500
REDIS_CONNECT_TIMEOUT=15000
REDIS_CLUSTER_URL=redis://localhost:6379
REDIS_HOST=localhost
REDIS_CLUSTER_HOSTS="localhost"
