PRODUCTION_MODE=false
APP_PORT=3005
APP_NAME=nodejs-backend-coupons
APP_NAMESPACE=production
STATUS_APP_PORT=8085

MONGODB_URL=mongodb://localhost:27017/coupons

RABBITMQ_URL=amqp://user:bitnami@localhost:5672
RABBITMQ_MANAGEMENT_URL=http://user:bitnami@localhost:15672
RABBITMQ_VHOST=
RABBITMQ_CERTIFICATE_PATH=./rabbitcrypt/private/private.crt

JWT_REFRESH_TOKEN_EXPIRES_IN=2592000
JWT_SECRET_TOKEN=secretKey
JWT_EXPIRES_IN=900

REDIS_URL=redis://localhost:6379
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_RETRY_ATTEMPTS=5
REDIS_RETRY_DELAY=500
REDIS_CONNECT_TIMEOUT=15000
REDIS_CLUSTER_URL=redis://localhost:6379
REDIS_HOST=localhost
REDIS_CLUSTER_HOSTS="localhost"

MICRO_URL_AUTH_INTERNAL=https://auth.test.devpayever.com

ELASTIC_HOST=http://localhost:9200
ELASTIC_CLOUD_ID=
ELASTIC_AUTH_USERNAME=
ELASTIC_AUTH_PASSWORD=
