# Mac OS X
.DS_Store

# cucumber coverage
/.nyc_output

# Node.js
node_modules/
npm-debug.log

.idea/
.vscode/
.env
dist
pacts

# artillery tests
/tests/artillery/_tests
/tests/artillery/report*.json

.npmrc
